<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PostgreSQL"
         connectionString="Host=localhost;Port=5433;Database=docsvision;Username=postgres;Password=postgres"/>
  </connectionStrings>
  <appSettings>
    <add key="CsvFilePath" value="Data/data.csv"/>
  </appSettings>
</configuration>